body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #2a2a2a;

}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vh;
    height: 20vh;
    padding: 5vh;
    background: rgb(94, 94, 94);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
    border-radius: 2vh;
    
}
input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    padding: 1vh;
    color: rgb(2, 208, 223);
    font-size: 2vh;
    margin-bottom: 2vh;
    width: 94%;
    
}
button{
    outline: none;
    border: none;
    background: rgb(27, 27, 27);
    color: rgb(139, 139, 139);
    font-size: 2vh;
    cursor: pointer;
    width: 12vh;
    height: 6vh;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
    transition: .4s;
}
button:hover{
    transition: .4s;
    color: rgb(156, 40, 40);
}
::placeholder {
    color: rgb(0, 238, 255);
    opacity: 1; 
    }